.chat-box-container {
   display: flex;
   justify-content: center;
}

.window {
   padding: 20px;
}

.chat-box {
   flex: 1;
   border: 3px solid #5c5959;
   height: 700px;
   width: 500px;
   overflow-y: auto;
   word-wrap: break-word;
   padding: 5px;
}

.user-input {
   margin-top: 10px;
}

.user-input input[type="text"] {
   width: 95%;
   padding: 5px;
}

.user-input button {
   margin-top: 5px;
   padding: 5px 10px;
}

.message {
   text-align: left;
   padding: 5px;
}
