.config-message {
   text-align: center;
}

/* Configure window */
.config-container {
   display: flex;
   flex-wrap: wrap;
   padding: 5px;
   justify-content: center;
}
.config-input {
   margin: 15px;
   flex-basis: 15%;
}
.config-input input[type="text"] {
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   border: 3px solid #5c5959;
   border-radius: 25px;
   background-color: #ededee;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* User input system message */
.system-input {
   justify-content: center;
   margin: 20px;
   width: 95%;
}
.system-input input[type="text"] {
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   width: 100%;
   border: 3px solid #5c5959;
   border-radius: 10px;
   background-color: #ededee;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Language difficulty level selection */
select {
   border: 3px solid #5c5959;
   background-color: #ededee;
   border-radius: 25px;
}
.config-input option {
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   border: 5px solid #5c5959;
   border-radius: 25px;
   background-color: #ededee;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.config-input input[type="text"] {
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   width: 150px;
   border: 3px solid #5c5959;
   border-radius: 25px;
   background-color: #ededee;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.config-button {
   border: 3px solid #5c5959;
   border-radius: 25px;
   justify-content: center;
   background-color: #cbc6c6;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 5px;
}

/* Loading sign */
.loading {
   position: relative;
   text-align: center;
}
#loading-logo {
   width: 70px;
   height: 100%;
}

/* Container that include the chatbox and input */
.chat-box-container {
   display: flex;
   justify-content: center;
   visibility: hidden;
}
.window {
   padding: 20px;
}

/* Chat window style */
.chat-box {
   flex: 1;
   border: 3px solid #5c5959;
   height: 500px;
   width: 500px;
   overflow-y: auto;
   word-wrap: break-word;
   padding: 5px;
   border-radius: 25px;
   background-color: #ededee;
}

/* Input box style */
.user-input {
   margin-top: 10px;
   width: 500px;
}
.user-input input[type="text"] {
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   width: 99%;
   border: 3px solid #5c5959;
   border-radius: 25px;
   background-color: #ededee;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Message style in the chatbox */
.message {
   text-align: left;
   margin-top: 5px;
   margin-left: 3px;
   margin-right: 3px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.chat-box-header-message {
   text-align: center;
   margin-top: 5px;
   color: rgb(142, 143, 137);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.system-message {
   text-align: left;
   margin-top: 5px;
   margin-left: 3px;
   margin-right: 3px;
   color: rgb(142, 143, 137);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}