{% macro render_field(field, placeholder='') %}
  <div class="form-group">
    <div class="d-flex justify-content-between">
      <label for="{{ field.id }}">{{ field.label }}</label>
      {% if field.help %}
        <button type="button" 
                class="icon-button" 
                id="help-{{ field.id }}-tooltip" 
                data-bs-toggle="tooltip"
                title="{{ field.help }}">
          <i class="fas fa-question-circle"></i>
        </button>
      {% endif %}
    </div>
    {% if not g.current_user %}
      {{ field(class="form-control", placeholder=placeholder, disabled=true) }}
    {% else %}
      {{ field(class="form-control", placeholder=placeholder) }}
    {% endif %}
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_message(role, content, timestamp) %}
{% if role=='asistant' %}
<div class="message message-user">
  <div class="bubble bg-primary text-white p-2 rounded">
    {{ content }}
  </div>
</div>
{% elif role=='user' %}
<div class="message message-assistant">
  <div class="bubble bg-light text-dark p-2 rounded">
    {{ content }}
  </div>
</div>
{% else %} <!-- role=='system' -->
<div class="message message-system">
  <div class="bubble bg-light text-dark p-2 rounded">
    {{ content }}
  </div>
</div>
{% endif %}
{% endmacro %}