{% extends 'base.html' %}

{% block content %}
<!-- # Chatlang: Role-Play Chat for Language Learning -->
<h2 class="text-center my-4">Chatlang: Role-Play Chat for Language Learning</h2>

<p>
  Chatlang is a language learning tool that allows you to role-play different characters in a target language of your choosing.
  Unlike a traditional chatbot which offers a single window for conversation, this tool offers two side-by-side windows with different purposes.
  The window on the left is for role-playing: talking with the AI Chatbot in the target language only and without breaking character.
  The window on the right is for study: ask questions in your native language about vocabulary, grammar, etc.
  This allows you to study, ask questions, and get help without interrupting the flow of the roleplay dialog.
  Read the <a href="https://anrg.usc.edu/www/papers/chatlang.pdf" target="_blank">Technical Report</a>
  and/or visit the <a href="https://github.com/ANRGUSC/chatlang" target="_blank">Github</a> repository for more information.
</p>

<h3 class="text-center my-4">Web App Usage</h3>

<p>
    To begin with, you will need to provide inputs in the configuration section at the top of the webpage:
</p>

<img src="static/images/readme/info_form_empty.png" alt="info_form_empty" width="100%">

<p>
    The <strong>Notes for AI</strong> field is optional.
    You can fill the <strong>Notes for AI</strong> with information like "Today is your birthday", to provide the AI chatbot with extra context it can use to make the conversation more realistic.
    Once you've filled out the form, click the <strong>New Conversation</strong> button to start the chat.
</p>

<img src="static/images/readme/chat_start.png" alt="chat_start" width="100%">

<p>
    The window on the left is for you to have the conversation in your target language, the one you are learning (e.g., Chinese).
    The window on the right is for you to ask questions about the conversation, clarify vocabulary/grammar, or change some context about the conversation as needed.
    The <strong>Reset Chat</strong> button clears the current chat history and starts a new chat under the same settings.
    The <strong>Export Chat Log</strong> button exports the current chat history to a zip file.
</p>

<p>
    Recall that you can ask questions in your native language on the right side of the chat window.
</p>

<p>
    See the example below:
</p>

<img src="static/images/readme/chat_1.png" alt="chat_1" width="100%">

<!-- FAQ -->
<h3 class="text-center my-4">FAQ</h3>
<p>
    <strong>Q: How can I unlock unlimited messages?</strong>
</p>
<p>
  A: By providing your own 
  <a href="https://platform.openai.com/account/api-keys" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="OpenAI API Key link to another tab">OpenAI API Key</a>
  in your 
  <a href="{{ url_for('chatlang.user') }}" target="_blank">user settings.</a>
</p>

<p>
    <strong>Q: How can I delete my account?</strong>
</p>
<p>
    A: You can delete your account by clicking the <strong>Delete Account</strong> button in your <a href="{{ url_for('chatlang.user') }}" target="_blank">user settings.</a>
</p>

{% endblock %}
