{% extends "base.html" %}
{% from "_helpers.html" import render_field %}

{% block content %}
<h1 class="text-center my-4">Role Play Chat Language Learning</h1>
<p class="lead text-center">This is a demo of the Role Play Chat Language Learning system. Please fill out the form below to get started.</p>

<form id="settings-form" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-4">{{ render_field(form.scenario, placeholder="e.g. Restaurant") }}</div>
        <div class="col-md-4">{{ render_field(form.ai_role, placeholder="e.g. Waiter") }}</div>
        <div class="col-md-4">{{ render_field(form.your_role, placeholder="e.g. Customer") }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ render_field(form.language, placeholder="e.g. French") }}</div>
        <div class="col-md-4">{{ render_field(form.difficulty) }}</div>
        <div class="col-md-4">{{ render_field(form.api_model) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ render_field(form.notes_for_ai, placeholder="e.g. today is a rainy day") }}</div>
        <div class="col-md-4">{{ render_field(form.api_key) }}</div>
        <div class="col-md-4">{{ render_field(form.tutor_language, placeholder="English") }}</div>
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-2" id="btn-new-conversation">New Conversation</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/tour-index.js') }}"></script>
{% endblock %}