<!-- Terms of service -->
{% extends "base.html" %}
{% block content %}
<body>
<div class="container-lg terms mt-4">
    <h1 class="text-center">Chatlang Privacy Policy</h1>
    <p>Chatlang respects your privacy and is committed to protecting your personal information. This policy explains how we collect, use, and disclose your information when you use our website.</p>

    <h2>1. Information We Collect</h2>
    <p>When you use Chatlang, we may collect the following information:</p>
    <ul>
        <li>Your name and email address.</li>
        <li>Your OpenAI API Token, if provided.</li>
        <li>Your Default language preferences, if provided.</li>
        <li>Usage data, such as the time and date of your visit, your IP address, and the pages you access.</li>
    </ul>

    <h2>2. How We Use Your Information</h2>
    <p>We use the information we collect from you to:</p>
    <ul>
        <li>Provide chatbot services using OpenAI's API.</li>
        <li>Analyze usage data to improve our website and services.</li>
        <li>Comply with legal requirements.</li>
    </ul>

    <h2>3. How We Protect Your Information</h2>
    <p>We take appropriate measures to protect your personal information from unauthorized access, use, disclosure, alteration, or destruction. We store your information on secure servers and use SSL encryption to protect sensitive information.</p>

    <h2>4. Information Sharing and Disclosure</h2>
    <p>We do not sell, trade, or rent your personal information to third parties. We may share your information in the following ways:</p>
    <ul>
        <li>With third-party authentication providers, such as Auth0, who perform services on our behalf.</li>
        <li>If we are required by law to disclose your information.</li>
    </ul>

    <h2>5. Your Choices</h2>
    <p>You may choose not to provide us with certain information, but this may limit your ability to use our services. You may also choose to disable cookies in your browser settings, but this may also limit your ability to use our website.</p>

    <h2>6. Changes to the Privacy Policy</h2>
    <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.</p>

    <h2>7. Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us at bkrishna at usc dot edu.</p>
</div>
</body>
{% endblock %}